@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'SVN-Have Heart';
    src: url('../styles/fonts/SVN-HaveHeart.woff2') format('woff2'),
        url('../styles/fonts/SVN-HaveHeart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

.hp-skill-tags {
    @apply text-sm rounded-lg bg-gray-900 text-white py-1 px-2 hover:bg-white hover:text-gray-900 border-x border border-gray-900 cursor-pointer;
}

.item:hover .item-content .item-title a {
    text-decoration: underline;
}

h2 {
    font-size: 20px;
}

.post-tags a {
    font-size: 14px !important;
}

.post-excerpt {
    font-size: 20px;
}

.post-meta-content {
    font-size: 13px;
}

.post-content {
    font-size: 20px !important;
}

.footer-desciption {
    font-size: 20px;
}

.flickity-prev-next-button.previous {
    top: -25px;
    right: 0;
    left: unset !important;
    background: transparent;
}

.flickity-prev-next-button.next {
    top: -25px;
    right: -20px !important;
    background: transparent;
}

.flickity-button:focus {
    box-shadow: unset !important;
}

.flickity-button:hover {
    background: transparent !important;
}

.dark {
    .post-content pre>code {
        color: #fff;
        background-color: #2b2b2b;
    }

    .flickity-button {
        color: #fff;

    }
}

/* #toggleDark {
    position: fixed;
    top: 20px;
    right: 20px;
} */

pre {
    border-radius: 20%;
}

.flickity-slider {
    transform: translateX(0%);
}

img {
    width: 100%;
    height: auto;
}

/* .flickity-enabled {
    position: relative
}

.flickity-enabled:focus {
    outline: 0
}

.flickity-viewport {
    position: relative;
    height: 100%
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%
}

.flickity-enabled.is-draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: -webkit-grab;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing
} */


.youtube-vdo {
    margin-left: 0 !important;
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .youtube-vdo {
        height: 250px;
    }
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.loaders {
    left: -6%;
    width: calc(100% + 12%);
    top: -4%;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

:root {
    --epcl-font-family: "DM Sans", sans-serif;
    --epcl-title-font-family: "Urbanist", sans-serif;
    --epcl-font-size: 16px;
    --epcl-line-height: 1.9;
    --epcl-font-size-editor: 17px;
    --epcl-line-height-editor: 1.9;
    --epcl-main-color: #6a4ee9;
    --epcl-secondary-color: #ff2aac;
    --epcl-titles-color: #282424;
    --epcl-text-color: #282424;
    --epcl-black: #282424;
    --epcl-meta-color: #4d6385;
    --epcl-background-color: #faf8ff;
    --epcl-boxes-background-color: #fff;
    --epcl-boxes-border-color: #e9e8ff;
    --epcl-border-color: #e9e8ff;
    --epcl-overlay-color: #211d3f;
    --epcl-boxes-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .03);
    --epcl-small-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    --epcl-medium-shadow: 0px 8px 16px -4px rgba(0, 0, 0, .1);
    --epcl-large-shadow: 0px 4px 25px -4px rgba(0, 0, 0, .2);
    --epcl-transition-bezier: cubic-bezier(.5, 2.5, .7, .7);
    --epcl-code-background: #211d3f;
    --epcl-code-color: #b0b9c5;
    --epcl-small-border-radius: 4px;
    --epcl-medium-border-radius: 10px;
    --epcl-large-border-radius: 100px
}

.image-container.ctag-0:before {
    background: #ff8e51
}

div.tags .primary-tag.tag-link-22,
div.tags .tag-link-22:before,
.overlay-effect .ctag-0.image-container:before,
.epcl-carousel .item article.ctag-0,
#single section.siblings article.primary-cat-22,
.ctag.ctag-0 {
    background: #ff8e51;
}

.overlay-effect {
    position: relative;
    z-index: 5
}

.overlay-effect .image-container {
    position: relative
}

.overlay-effect .image-container:before {
    display: block;
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: var(--epcl-main-color);
    z-index: -2;
    opacity: .3;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.overlay-effect:hover .image-container:before {
    -webkit-transform: scale(1.16);
    -ms-transform: scale(1.16);
    transform: scale(1.16);
    opacity: .25
}

div.tags .primary-tag.tag-link-18,
div.tags .tag-link-18:before,
.overlay-effect .ctag-1.image-container:before,
.epcl-carousel .item article.ctag-1,
#single section.siblings article.primary-cat-18,
.ctag.ctag-1 {
    background: #ff2ed9
}

.tagcloud a.tag-link-18:before,
.widget_tag_cloud a.tag-link-18:before {
    background: #ff2ed9
}

div.tags .primary-tag.tag-link-17,
div.tags .tag-link-17:before,
.overlay-effect .ctag-2.image-container:before,
.epcl-carousel .item article.ctag-2,
#single section.siblings article.primary-cat-17,
.ctag.ctag-2 {
    background: #227dff
}

.tagcloud a.tag-link-17:before,
.widget_tag_cloud a.tag-link-17:before {
    background: #227dff
}

div.tags .primary-tag.tag-link-24,
div.tags .tag-link-24:before,
.overlay-effect .ctag-3.image-container:before,
.epcl-carousel .item article.ctag-3,
#single section.siblings article.primary-cat-24,
.ctag.ctag-3 {
    background: #5751ff
}

.tagcloud a.tag-link-24:before,
.widget_tag_cloud a.tag-link-24:before {
    background: #5751ff
}

div.tags .primary-tag.tag-link-26,
div.tags .tag-link-26:before,
.overlay-effect .ctag-4.image-container:before,
.epcl-carousel .item article.ctag-4,
#single section.siblings article.primary-cat-26,
.ctag.ctag-4 {
    background: #2a2728
}

.tagcloud a.tag-link-26:before,
.widget_tag_cloud a.tag-link-26:before {
    background: #2a2728
}

div.tags .primary-tag.tag-link-21,
div.tags .tag-link-21:before,
.overlay-effect .ctag-5.image-container:before,
.epcl-carousel .item article.ctag-5,
#single section.siblings article.primary-cat-21,
.ctag.ctag-5 {
    background: #6a4ee9
}

.tagcloud a.tag-link-21:before,
.widget_tag_cloud a.tag-link-21:before {
    background: #6a4ee9
}

div.tags .primary-tag.tag-link-19,
div.tags .tag-link-19:before,
.overlay-effect .ctag-6.image-container:before,
.epcl-carousel .item article.ctag-6,
#single section.siblings article.primary-cat-19,
.ctag.ctag-6 {
    background: #cf649a
}

.tagcloud a.tag-link-19:before,
.widget_tag_cloud a.tag-link-19:before {
    background: #3aa9fd
}


.ctag.ctag-0 {
    background: #ff8e51
}

.tagcloud a.tag-link-22:before,
.widget_tag_cloud a.tag-link-22:before {
    background: #ff8e51
}

div.tags .primary-tag.tag-link-23,
div.tags .tag-link-23:before,
.overlay-effect .ctag-7.image-container:before,
.epcl-carousel .item article.ctag-7,
#single section.siblings article.primary-cat-23,
.ctag.ctag-7 {
    background: #ffcb29
}

.tagcloud a.tag-link-23:before,
.widget_tag_cloud a.tag-link-23:before {
    background: #ffcb29
}

div.tags .primary-tag.tag-link-25,
div.tags .tag-link-25:before,
.overlay-effect .ctag-25.image-container:before,
.epcl-carousel .item article.ctag-25,
#single section.siblings article.primary-cat-25,
.ctag.ctag-25 {
    background: #f95353
}

.tagcloud a.tag-link-25:before,
.widget_tag_cloud a.tag-link-25:before {
    background: #f95353
}

div.tags .primary-tag.tag-link-20,
div.tags .tag-link-20:before,
.overlay-effect .ctag-20.image-container:before,
.epcl-carousel .item article.ctag-20,
#single section.siblings article.primary-cat-20,
.ctag.ctag-20 {
    background: #4775ff
}

.tagcloud a.tag-link-20:before,
.widget_tag_cloud a.tag-link-20:before {
    background: #4775ff
}

.category-image {
    display: block;
    margin: 0 auto 5px;
    width: 60px;
    height: 60px;
    border-radius: var(--epcl-large-border-radius);
    background: var(--epcl-main-color);
    position: relative;
    z-index: 2;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.category-image img {
    border-radius: var(--epcl-large-border-radius);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.category-image .icon {
    width: 50%;
    height: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.category-image:hover:before {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.15);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.15);
    transform: translateX(-50%) translateY(-50%) scale(1.15);
    opacity: .25
}

.full-link,
.thumb .fullimage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1
}

.full-link {
    z-index: 10
}

.epcl-decoration-counter {
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 5;
    color: #fff;
    background: #000;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    font-weight: 600
}

.epcl-decoration-counter {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px
}

.epcl-popular-categories .item .title {
    display: block;
    margin: 3px 0 0
}

.title.usmall {
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: .4px;
    font-weight: 700
}

.epcl-popular-categories .item {
    text-align: center;
    margin-top: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* padding: 0 10px; */
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

svg.icon.large {
    width: 17px;
    height: 17px;
    /* margin-top: -2px */
}

svg.secondary-color {
    fill: var(--epcl-secondary-color)
}

svg.icon {
    fill: #fff;
    width: 10px;
    height: 10px;
    vertical-align: middle
}

.secondary-color {
    color: var(--epcl-secondary-color);
}


.courses-grid article.ctag-100,
.ctag.ctag-100 {
    background: #8665f0;
}


.courses-grid article.ctag-101,
.ctag.ctag-101 {
    background: #00667b;
}


.courses-grid article.ctag-102,
.ctag.ctag-102 {
    background: #328afd;
}

.courses-grid .tags {
    display: block;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.25px;
    font-family: var(--epcl-title-font-family);
}

.courses-grid .tags.fill-color a {
    background: rgba(255, 255, 255, 0.12) !important;
}

.courses-grid .tags.fill-color a {
    display: inline-block;
    background: var(--epcl-main-color);
    color: #fff;
    padding: 5px 15px;
    border-radius: var(--epcl-large-border-radius);
    margin: 0;
    font-weight: 600;
}

.courses-grid .tags.fill-color a.primary-tag {
    margin-left: -25px;
    margin-bottom: 20px;
    border-radius: 0 var(--epcl-large-border-radius) var(--epcl-large-border-radius) 0;
    padding-left: 25px;
    padding-right: 25px;
}



.epcl-button:not(.epcl-shortcode).black {
    background: rgba(225, 225, 225, 0.2)
}

.epcl-carousel .item a {
    color: #fff;
}

.epcl-button:not(.epcl-shortcode) {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 5px 22px;
    position: relative;
    z-index: 2;
    font-family: var(--epcl-title-font-family);
    font-weight: 500;
    border-radius: var(--epcl-small-border-radius);
    background-color: var(--epcl-main-color);
    letter-spacing: 0.1px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.courses-grid .epcl-button {
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.courses-grid .epcl-flex {
    min-height: 190px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    display: flex;
    width: 100%;
}

.courses-grid .meta-data {
    color: #fff;
    min-width: 170px;
    max-width: 180px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px;
    padding-left: 25px;
    margin: 20px 0 10px;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.courses-grid .info {
    padding: 25px 25px 40px 0;
    margin: auto 0;
}

.courses-grid .author .author-image {
    width: 18px;
    height: 18px;
    position: relative;
    left: auto;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 16px;
    -webkit-transition: all .3s var(--epcl-transition-bezier);
    transition: all .3s var(--epcl-transition-bezier);
}

.courses-grid img.cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.courses-grid div.meta-data .meta-info {
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
    position: relative;
    z-index: 2;
    text-align: left;
    font-size: 13px;
}

.courses-grid .meta.small svg.icon {}

.courses-grid div.meta-data .meta-info .icon {
    margin-right: 6px;
    position: relative;
    top: 0px;
}

.courses-grid .item .meta-data svg {
    color: #fff;
    top: 0;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    /* margin-top: -3px; */
    margin-right: 3px;
}

.courses-grid .item .meta .rating {
    display: block;
    margin-left: -3px;
    color: #fff;
    /* padding-left: 26px; */
    margin-top: -3px;
    font-size: 18px;
}

.courses-grid .meta .rating.star-3 .star {
    color: #FFC225;
    margin-right: 3px;
}

.title.white {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700 !important;
    margin: 0 !important;
}